make-scenario-a-blueprint.json
{
  "name": "PassTo — Nurse Enrollment (Scenario A)",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": "",
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": { "x": 0, "y": 0 },
        "restore": {
          "parameters": {
            "hook": {
              "label": "PassTo Enrollment Webhook",
              "data": { "editable": true }
            }
          }
        }
      }
    },
    {
      "id": 2,
      "module": "builtin:BasicRouter",
      "version": 1,
      "parameters": {},
      "mapper": {},
      "metadata": {
        "designer": { "x": 300, "y": 0 }
      },
      "routes": [
        {
          "label": "ID.me Verified",
          "filter": {
            "name": "IDme Verified = true",
            "conditions": [
              [
                {
                  "a": "{{1.idmeVerified}}",
                  "b": "true",
                  "o": "boolean:equal"
                }
              ]
            ]
          },
          "flow": [
            {
              "id": 3,
              "module": "http:ActionSendData",
              "version": 3,
              "parameters": {
                "handleErrors": false,
                "useNewZLibDeCompress": true
              },
              "mapper": {
                "url": "https://api.nysed.gov/rosa/V2/byProfessionAndLicenseNumber",
                "serializeUrl": false,
                "method": "get",
                "headers": [
                  {
                    "name": "x-oapi-key",
                    "value": "BRJF4D6U646A5PNMIB77AAW9544QFQKAYAEWI9EPU0TNP72CEEO3L4KGVN5K3R44"
                  }
                ],
                "qs": [
                  {
                    "name": "licenseNumber",
                    "value": "{{1.licenseNumber}}"
                  },
                  {
                    "name": "professionCode",
                    "value": "{{1.professionCode}}"
                  }
                ],
                "bodyType": "raw",
                "parseResponse": true,
                "timeout": "30",
                "followRedirect": true,
                "gzip": true,
                "rejectUnauthorized": true,
                "contentType": "application/json",
                "data": ""
              },
              "metadata": {
                "designer": { "x": 600, "y": -150 }
              }
            },
            {
              "id": 4,
              "module": "builtin:BasicRouter",
              "version": 1,
              "parameters": {},
              "mapper": {},
              "metadata": {
                "designer": { "x": 900, "y": -150 }
              },
              "routes": [
                {
                  "label": "License Active",
                  "filter": {
                    "name": "NYSED Status = Registered",
                    "conditions": [
                      [
                        {
                          "a": "{{3.data.status.value}}",
                          "b": "Registered",
                          "o": "text:equal"
                        }
                      ]
                    ]
                  },
                  "flow": [
                    {
                      "id": 5,
                      "module": "airtable:ActionCreateRecord",
                      "version": 3,
                      "parameters": {
                        "__IMTCONN__": null
                      },
                      "mapper": {
                        "baseId": "appu4draYRRn3tXjV",
                        "tableId": "tbl0HIA3rtGVKbhZs",
                        "fields": {
                          "Nurse Name": "{{1.firstName}} {{1.lastName}}",
                          "Email": "{{1.email}}",
                          "IDme_Verification_Status": "Verified",
                          "IDme Subject": "{{1.idmeSubject}}",
                          "Account Tier": "Free",
                          "Account Status": "Active"
                        }
                      },
                      "metadata": {
                        "designer": { "x": 1200, "y": -450 },
                        "restore": {
                          "parameters": {
                            "__IMTCONN__": {
                              "label": "SETUP REQUIRED: Connect Airtable account"
                            }
                          }
                        }
                      }
                    },
                    {
                      "id": 6,
                      "module": "airtable:ActionCreateRecord",
                      "version": 3,
                      "parameters": {
                        "__IMTCONN__": null
                      },
                      "mapper": {
                        "baseId": "appu4draYRRn3tXjV",
                        "tableId": "tbldhV0r0q8DfzVJf",
                        "fields": {
                          "Nurse": ["{{5.id}}"],
                          "NYSED Verified Name": "{{3.data.name.value}}",
                          "License Number": "{{1.licenseNumber}}",
                          "License Type": "{{3.data.profession.value}}",
                          "State": "New York",
                          "Status": "{{3.data.status.value}}",
                          "StatusFlag": "Active",
                          "Profession Code": "{{1.professionCode}}",
                          "Issue Date": "{{3.data.dateOfLicensure.value}}",
                          "Expiration Date": "{{3.data.registeredThroughDate.value}}",
                          "Enforcement Actions": "{{3.data.enforcementActions}}",
                          "License Source": "NYSED ROSA API",
                          "Verification Date": "{{now}}"
                        }
                      },
                      "metadata": {
                        "designer": { "x": 1500, "y": -450 },
                        "restore": {
                          "parameters": {
                            "__IMTCONN__": {
                              "label": "SETUP REQUIRED: Connect Airtable account"
                            }
                          }
                        }
                      }
                    },
                    {
                      "id": 7,
                      "module": "http:ActionSendData",
                      "version": 3,
                      "parameters": {
                        "handleErrors": false,
                        "useNewZLibDeCompress": true
                      },
                      "mapper": {
                        "url": "REPLACE_WITH_VERCEL_URL/api/sign-apple",
                        "serializeUrl": false,
                        "method": "post",
                        "headers": [
                          {
                            "name": "Content-Type",
                            "value": "application/json"
                          }
                        ],
                        "qs": [],
                        "bodyType": "raw",
                        "parseResponse": true,
                        "timeout": "30",
                        "followRedirect": true,
                        "gzip": true,
                        "rejectUnauthorized": true,
                        "contentType": "application/json",
                        "data": "{\"nurseId\":\"{{5.id}}\",\"verifiedName\":\"{{3.data.name.value}}\",\"licenseNumber\":\"{{1.licenseNumber}}\",\"licenseType\":\"{{3.data.profession.value}}\",\"status\":\"{{3.data.status.value}}\",\"expirationDate\":\"{{3.data.registeredThroughDate.value}}\",\"issuedDate\":\"{{3.data.dateOfLicensure.value}}\",\"state\":\"New York\"}"
                      },
                      "metadata": {
                        "designer": { "x": 1800, "y": -450 }
                      }
                    },
                    {
                      "id": 8,
                      "module": "http:ActionSendData",
                      "version": 3,
                      "parameters": {
                        "handleErrors": false,
                        "useNewZLibDeCompress": true
                      },
                      "mapper": {
                        "url": "REPLACE_WITH_VERCEL_URL/api/sign-google",
                        "serializeUrl": false,
                        "method": "post",
                        "headers": [
                          {
                            "name": "Content-Type",
                            "value": "application/json"
                          }
                        ],
                        "qs": [],
                        "bodyType": "raw",
                        "parseResponse": true,
                        "timeout": "30",
                        "followRedirect": true,
                        "gzip": true,
                        "rejectUnauthorized": true,
                        "contentType": "application/json",
                        "data": "{\"nurseId\":\"{{5.id}}\",\"verifiedName\":\"{{3.data.name.value}}\",\"licenseNumber\":\"{{1.licenseNumber}}\",\"licenseType\":\"{{3.data.profession.value}}\",\"status\":\"{{3.data.status.value}}\",\"expirationDate\":\"{{3.data.registeredThroughDate.value}}\",\"issuedDate\":\"{{3.data.dateOfLicensure.value}}\",\"state\":\"New York\"}"
                      },
                      "metadata": {
                        "designer": { "x": 2100, "y": -450 }
                      }
                    },
                    {
                      "id": 9,
                      "module": "airtable:ActionCreateRecord",
                      "version": 3,
                      "parameters": {
                        "__IMTCONN__": null
                      },
                      "mapper": {
                        "baseId": "appu4draYRRn3tXjV",
                        "tableId": "tblcI0U7lEz0sUAQB",
                        "fields": {
                          "Nurse": ["{{5.id}}"],
                          "Linked License": ["{{6.id}}"],
                          "Credential Type": "Apple Wallet",
                          "Apple Wallet URL": "{{7.data.url}}",
                          "Google Wallet URL": "{{8.data.saveUrl}}",
                          "Credential Status": "Active"
                        }
                      },
                      "metadata": {
                        "designer": { "x": 2400, "y": -450 },
                        "restore": {
                          "parameters": {
                            "__IMTCONN__": {
                              "label": "SETUP REQUIRED: Connect Airtable account"
                            }
                          }
                        }
                      }
                    },
                    {
                      "id": 10,
                      "module": "http:ActionSendData",
                      "version": 3,
                      "parameters": {
                        "handleErrors": false,
                        "useNewZLibDeCompress": true
                      },
                      "mapper": {
                        "url": "https://api.postmarkapp.com/email/withTemplate",
                        "serializeUrl": false,
                        "method": "post",
                        "headers": [
                          {
                            "name": "Accept",
                            "value": "application/json"
                          },
                          {
                            "name": "Content-Type",
                            "value": "application/json"
                          },
                          {
                            "name": "X-Postmark-Server-Token",
                            "value": "REPLACE_WITH_POSTMARK_SERVER_TOKEN"
                          }
                        ],
                        "qs": [],
                        "bodyType": "raw",
                        "parseResponse": true,
                        "timeout": "30",
                        "followRedirect": true,
                        "gzip": true,
                        "rejectUnauthorized": true,
                        "contentType": "application/json",
                        "data": "{\"From\":\"credentials@passto.com\",\"To\":\"{{1.email}}\",\"TemplateId\":REPLACE_WITH_CREDENTIAL_TEMPLATE_ID,\"TemplateModel\":{\"nurse_name\":\"{{3.data.name.value}}\",\"license_number\":\"{{1.licenseNumber}}\",\"license_type\":\"{{3.data.profession.value}}\",\"status\":\"{{3.data.status.value}}\",\"expiration_date\":\"{{3.data.registeredThroughDate.value}}\",\"apple_wallet_url\":\"{{7.data.url}}\",\"google_wallet_url\":\"{{8.data.saveUrl}}\"}}"
                      },
                      "metadata": {
                        "designer": { "x": 2700, "y": -450 }
                      }
                    },
                    {
                      "id": 11,
                      "module": "http:ActionSendData",
                      "version": 3,
                      "parameters": {
                        "handleErrors": false,
                        "useNewZLibDeCompress": true
                      },
                      "mapper": {
                        "url": "REPLACE_WITH_SCENARIO_B_WEBHOOK_URL",
                        "serializeUrl": false,
                        "method": "post",
                        "headers": [
                          {
                            "name": "Content-Type",
                            "value": "application/json"
                          }
                        ],
                        "qs": [],
                        "bodyType": "raw",
                        "parseResponse": false,
                        "timeout": "10",
                        "followRedirect": true,
                        "gzip": true,
                        "rejectUnauthorized": true,
                        "contentType": "application/json",
                        "data": "{\"nurseId\":\"{{5.id}}\",\"licenseId\":\"{{6.id}}\",\"email\":\"{{1.email}}\",\"verifiedName\":\"{{3.data.name.value}}\",\"licenseNumber\":\"{{1.licenseNumber}}\",\"professionCode\":\"{{1.professionCode}}\",\"licenseState\":\"New York\"}"
                      },
                      "metadata": {
                        "designer": { "x": 3000, "y": -450 }
                      }
                    }
                  ]
                },
                {
                  "label": "License Flagged or Not Found",
                  "filter": {
                    "name": "NYSED Status != Registered",
                    "conditions": [
                      [
                        {
                          "a": "{{3.data.status.value}}",
                          "b": "Registered",
                          "o": "text:notEqual"
                        }
                      ]
                    ]
                  },
                  "flow": [
                    {
                      "id": 12,
                      "module": "airtable:ActionCreateRecord",
                      "version": 3,
                      "parameters": {
                        "__IMTCONN__": null
                      },
                      "mapper": {
                        "baseId": "appu4draYRRn3tXjV",
                        "tableId": "tbl0HIA3rtGVKbhZs",
                        "fields": {
                          "Nurse Name": "{{1.firstName}} {{1.lastName}}",
                          "Email": "{{1.email}}",
                          "IDme_Verification_Status": "Verified",
                          "IDme Subject": "{{1.idmeSubject}}",
                          "Account Tier": "Free",
                          "Account Status": "Flagged"
                        }
                      },
                      "metadata": {
                        "designer": { "x": 1200, "y": -150 },
                        "restore": {
                          "parameters": {
                            "__IMTCONN__": {
                              "label": "SETUP REQUIRED: Connect Airtable account"
                            }
                          }
                        }
                      }
                    },
                    {
                      "id": 13,
                      "module": "airtable:ActionCreateRecord",
                      "version": 3,
                      "parameters": {
                        "__IMTCONN__": null
                      },
                      "mapper": {
                        "baseId": "appu4draYRRn3tXjV",
                        "tableId": "tbldhV0r0q8DfzVJf",
                        "fields": {
                          "Nurse": ["{{12.id}}"],
                          "License Number": "{{1.licenseNumber}}",
                          "License Type": "{{3.data.profession.value}}",
                          "State": "New York",
                          "Status": "{{3.data.status.value}}",
                          "StatusFlag": "Flagged",
                          "License Source": "NYSED ROSA API",
                          "Verification Date": "{{now}}"
                        }
                      },
                      "metadata": {
                        "designer": { "x": 1500, "y": -150 },
                        "restore": {
                          "parameters": {
                            "__IMTCONN__": {
                              "label": "SETUP REQUIRED: Connect Airtable account"
                            }
                          }
                        }
                      }
                    },
                    {
                      "id": 14,
                      "module": "http:ActionSendData",
                      "version": 3,
                      "parameters": {
                        "handleErrors": false,
                        "useNewZLibDeCompress": true
                      },
                      "mapper": {
                        "url": "https://api.postmarkapp.com/email",
                        "serializeUrl": false,
                        "method": "post",
                        "headers": [
                          {
                            "name": "Accept",
                            "value": "application/json"
                          },
                          {
                            "name": "Content-Type",
                            "value": "application/json"
                          },
                          {
                            "name": "X-Postmark-Server-Token",
                            "value": "REPLACE_WITH_POSTMARK_SERVER_TOKEN"
                          }
                        ],
                        "qs": [],
                        "bodyType": "raw",
                        "parseResponse": true,
                        "timeout": "30",
                        "followRedirect": true,
                        "gzip": true,
                        "rejectUnauthorized": true,
                        "contentType": "application/json",
                        "data": "{\"From\":\"ops@passto.com\",\"To\":\"REPLACE_WITH_OPS_ALERT_EMAIL\",\"Subject\":\"PassTo Alert — License Flagged\",\"TextBody\":\"License verification flagged. No credential issued.\\n\\nNurse: {{1.firstName}} {{1.lastName}}\\nEmail: {{1.email}}\\nLicense #: {{1.licenseNumber}}\\nNYSED Status: {{3.data.status.value}}\\nEnforcement Actions: {{3.data.enforcementActions}}\\n\\nAirtable Nurse ID: {{12.id}}\\nAirtable License ID: {{13.id}}\\nTimestamp: {{now}}\"}"
                      },
                      "metadata": {
                        "designer": { "x": 1800, "y": -150 }
                      }
                    }
                  ]
                }
              ]
            }
          ]
        },
        {
          "label": "ID.me Not Verified — Stop",
          "filter": {
            "name": "IDme Verified = false",
            "conditions": [
              [
                {
                  "a": "{{1.idmeVerified}}",
                  "b": "false",
                  "o": "boolean:equal"
                }
              ]
            ]
          },
          "flow": [
            {
              "id": 15,
              "module": "http:ActionSendData",
              "version": 3,
              "parameters": {
                "handleErrors": false,
                "useNewZLibDeCompress": true
              },
              "mapper": {
                "url": "https://api.postmarkapp.com/email",
                "serializeUrl": false,
                "method": "post",
                "headers": [
                  {
                    "name": "Accept",
                    "value": "application/json"
                  },
                  {
                    "name": "Content-Type",
                    "value": "application/json"
                  },
                  {
                    "name": "X-Postmark-Server-Token",
                    "value": "REPLACE_WITH_POSTMARK_SERVER_TOKEN"
                  }
                ],
                "qs": [],
                "bodyType": "raw",
                "parseResponse": true,
                "timeout": "30",
                "followRedirect": true,
                "gzip": true,
                "rejectUnauthorized": true,
                "contentType": "application/json",
                "data": "{\"From\":\"ops@passto.com\",\"To\":\"REPLACE_WITH_OPS_ALERT_EMAIL\",\"Subject\":\"PassTo Alert — ID.me Verification Incomplete\",\"TextBody\":\"Enrollment received but ID.me verification was not completed. No Airtable records created.\\n\\nName: {{1.firstName}} {{1.lastName}}\\nEmail: {{1.email}}\\nLicense #: {{1.licenseNumber}}\\nTimestamp: {{now}}\"}"
              },
              "metadata": {
                "designer": { "x": 600, "y": 150 }
              }
            }
          ]
        }
      ]
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "us1.make.com"
  }
}
